.containerAirlinesMainPage {
  padding: 93px 115px;
}
.registerbuttoncontainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 35px;
}

.airlinesListContainer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 16px;
}

.filtro {
  justify-content: right;
  bottom: 12px;
}
.tableTitlesContainer {
  display: grid;
  grid-template-columns: 40% 40% 34%;
  background: #f1f3f5;
  padding: 16px;
  border-radius: 10px;
  color: #7e868c;
  font-size: 12px;
}
.tableInfoRow {
  display: grid;
  grid-template-columns:  40% 40% 34%;
  padding: 16px;
  border-bottom: 1px solid #f1f3f5;
}

.functionIcon {
  cursor: pointer;
  object-fit: contain;
}
.iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dialogText{
  text-align: center;
  font-family: Montserrat, Poppins, sans-serif;
  padding-top: 5%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.dialogButtons {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding: 16px;
}

.warningIcon {
  font-size: 70px;
}

.dialogBack{
  background: #f1f3f5;
  border-radius: 12px;
}

.machinesgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.container {
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .div2 { 
    padding-top: 20%;
    grid-area: 1 / 2 / 2 / 3; 
  }

  .backArrowIcon {
    position: absolute;
    top: 170px;
    left: 10px;
  }

