.RegisterAirlineContainer {
  padding: 93px 115px;
}
.airlinesListContainer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.inputsList {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding: 15px 0px 40px 10px;
  border-top: 1px solid #bbb;
}
.inputsListImage {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding: 40px 0px 40px 10px;
  border-top: 1px solid #bbb;
  justify-content: center;
}
.titleText {
  font-size: 14px;
  font-weight: bold;
  color: #08a75a;
}
.registerbuttoncontainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 35px 0px;
}
.uploadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 140px;
}
.uploadCancelButtons {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.titleInputContainer {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.inputColumn {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.inputRow {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-left: 40px;
}
.dissappearingMessage {
  color: #bbb;
  font-size: 10px;
  position: relative;
  bottom: 2px;
}
.messageAndInput {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.hiddenDissappearingMessage {
  opacity: 0;
  color: #bbb;
  font-size: 10px;
  position: relative;
  bottom: 0px;
}
.addTaskButton {
  width: 185px;
}
.addTaskContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.machineryInputsList {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.machineryItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #4d4e56;
  padding: 0px 50px 0 10px;
  min-height: 60px;
}
.machineryOtherItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #4d4e56;
  padding: 0px 50px 0 10px;
  min-height: 60px;
}
.machineryItemText {
  font-size: 14px;
  font-weight: 600;
}
.itemCount {
  width: 29px;
  height: 21px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.counterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.addMachineryButton {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.addMachineryButtonIcon {
  cursor: pointer;
  object-fit: contain;
  display: flex;
}
.hidden {
  display: none;
}
.singleInputContainer {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  min-width: 185px;
  outline: none;
  padding-left: 10px;
}
