.mainContainerRecoverPassword2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 191px 0 20px 0;
  gap: 30px;
}
.mainContainerRecoverPassword2Mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 20px 0;
  gap: 30px;
}
.icon {
  font-size: 96px;
}
.ingresarButton {
  width: 275px;
  height: 42px;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #08a75a;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.recoverPasswordText {
  font-size: 18px;
  font-weight: bold;
  color: #4d4e56;
}
.singleInput {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.singleInputMobile {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 80%;
  align-items: center;
}
.inputText {
  width: auto;
  color: #4d4e56;
  font-size: 14px;
}
.inputTextMobile {
  width: 95%;
  color: #4d4e56;
  font-size: 14px;
}
.singleInputContainer {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  height: 30px;
  width: 375px;
  outline: none;
  padding-left: 10px;
}
.singleInputContainerMobile {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  height: 30px;
  width: 95%;
  outline: none;
  padding-left: 10px;
}
.willRecieveCodeText {
  width: 375px;
  color: #000000;
  font-size: 14px;
}
.willRecieveCodeTextMobile {
  width: 70%;
  color: #000000;
  font-size: 14px;
  text-align: center;
}
.ingresarButtonDisabled {
  width: 275px;
  height: 42px;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #bbbbbb;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
