.RegisterMachineContainer {
  padding: 93px 308px;
}
.backArrowIcon {
  position: absolute;
  top: 170px;
  left: 10px;
}

.machinesListContainer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.inputsList {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px 0px 40px 10px;
  border-top: 1px solid #bbb;
  align-items: center;
}
.inputsListImage {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding: 40px 0px 40px 10px;
  border-top: 1px solid #bbb;
  justify-content: center;
}
.titleText {
  font-size: 14px;
  font-weight: bold;
  color: #08a75a;
}
.registerbuttoncontainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 35px 0px;
}
.uploadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 140px;
}
.uploadCancelButtons {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
