.RegisterMachineContainer {
  padding: 93px 308px;
}
.backArrowIcon {
  position: absolute;
  top: 170px;
  left: 10px;
}

.machinesListContainer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 16px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.inputsList {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px 0px 40px 10px;
  border-top: 1px solid #bbb;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
}
.inputsListImage {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding: 40px 0px 40px 10px;
  border-top: 1px solid #bbb;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 2; 
}
.titleTextImagen {
  font-size: 14px;
  font-weight: bold;
  color: #08a75a;
  grid-area: 1 / 1 / 2 / 2;
}
.titleTextDates {
  font-size: 14px;
  font-weight: bold;
  color: #08a75a;
  grid-area: 1 / 2 / 2 / 3; 
}
.registerbuttoncontainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 35px 0px;
}
.uploadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 140px;
}
.uploadCancelButtons {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
