.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .tomarFoto { 
    grid-area: 1 / 1 / 2 / 2; 
    padding-right: 10px;
  }
  .cerrarCamara { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-left: 10px;
  }