.mainDropdownContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dropdownContainerButton {
  /*background: #08a75a;*/
  min-width: 180px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
}
.dropdownTextUnselected {
  font-size: 14px;
  color: #889096;
}
.optionsMenuContainer {
  position: relative;
  top: 1px;
  min-width: 180px;
  min-height: 40px;
  height: auto;
  border: 2px solid lightgray;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}
.optionsText {
  font-size: 14px;
  padding: 5px 0px;
  cursor: pointer;
}
