.singleInputContainer {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  height: 21px;
  min-width: 185px;
  outline: none;
  padding-left: 10px;
}
.singleInputContainerMobile {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  height: 30px;
  width: 95%;
  outline: none;
  padding-left: 10px;
}
