.containerMachineMainPage {
  padding: 93px 115px;
}
.machineListContainer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.filtro {
  justify-content: right;
  bottom: 12px;
}

.machinesgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.machinescard {
  border: 1px solid #98989A;
  padding: 20px;
  border-radius: 5px;
}

.machinesheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #98989A;
}

