.containerPersonnelMainPage {
  padding: 93px 115px;
}
.personnelListContainer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.filtro {
  justify-content: right;
  bottom: 12px;
}