.docsMainPage {
  padding: 53px 115px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.blockchainCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.blockchainCardTitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.blockchainCardMainTitle {
  font-size: 18px;
  font-weight: bold;
  color: #00a75d;
}
.openCardContainer {
  font-size: 14px;
  color: #bbb;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.openCardContainer:hover {
  font-size: 14px;
  color: lightgray;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
