.mainContainerLoginMainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0 20px 0;
}
.mainContainerLoginMainPageMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}
.welcomeBackText {
  margin-top: 28px;
  font-size: 20px;
}
.inputsContainer {
  padding-top: 30px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.inputsContainerMobile {
  padding-top: 30px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.singleInput {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: Montserrat, Poppins, sans-serif;
}
.singleInputMobile {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  align-items: center;
  font-family: Montserrat, Poppins, sans-serif;
}
.inputText {
  width: auto;
}
.inputTextMobile {
  width: 85%;
}
.singleInputContainer {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  height: 30px;
  width: 375px;
  outline: none;
  padding-left: 10px;
}
.singleInputContainerMobile {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 0.5px #bbb;
  height: 30px;
  width: 85%;
  outline: none;
  padding-left: 10px;
}
.ingresarButton {
  width: 275px;
  height: 42px;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #08a75a;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.ingresarButtonDisabled {
  width: 275px;
  height: 42px;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #bbbbbb;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.forgotPasswordText {
  color: #98989a;
  font-size: 14px;
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}

.titulo {
  color: #08a75a;
  padding-left: 10px;
}

.tituloMobile {
  color: #08a75a;
  padding-left: 30px;
}

.Input {
  color: #08a75a;
}
.ComboboxMobile {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  padding: 0 16px 0 16px;
}
.dropdownItem {
  font-family: Montserrat, Poppins, sans-serif;
}
